<div class="ecss-material-2" style="margin-top: 110px;"> <!-- TODO l'altezza dell'header -->
  <hr class="uk-divider-small" >
  <div class="images-container">
    <img src="../../../assets/meta-trader1.png" class="image">
    <div class="middle">
      <input type="button" value="DOWNLOAD METATRADER">
    </div>
  </div>
  <app-html-div id="get-started-div">
    <div class="charat-list default-panel mui-panel">
      <h2 class="forstyle-h2">get started</h2>
      <p>
        <input type="button" value="1">&nbsp;&nbsp;Possedendo un conto con i principali broker internazionali...
      </p>
      <p>
        <input type="button" value="2">&nbsp;&nbsp;Possedendo un conto con i principali broker internazionali...
      </p>
    </div>
  </app-html-div>
  <div class="mui-panel default-panel" id="example-container">
    Example of uk container
  </div>
</div>

